{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

 {% block navside %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ title }} </h2>   
        </div>
    </div>              
    <!-- /. ROW  -->
    <hr />
    <div class="row">
        <div class="col-lg-12 ">
            <div class="alert message-info">
                <strong>Please fill up the fields below to connect and perform database query </strong>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

  {% if error is defined %}

    <h2 class="text-danger text-center"> {{ error }}</h2>
    
  {% endif %}

  <form action="" method="POST">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="host">Host</label>
                <input type="text" class="form-control" id="host" name="data[host]" placeholder="Host" required>
            </div>

            <div class="form-group col-md-4">
                <label for="databaseName">Database</label>
                <input type="text" class="form-control" id="databaseName" name="data[databaseName]" placeholder="Database" required>
            </div>
        
            <div class="form-group col-md-4">
                <label for="port">Port</label>
                <input type="number" class="form-control" id="port" name="data[port]" placeholder="Port" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="data[username]" placeholder="Username" required>
            </div>
        
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="data[password]" placeholder="Password" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="query">Query</label>
                <textarea class="form-control" id="query" name="query" rows="5" placeholder="Fill up your query here..." required></textarea>
            </div>
        </div>

         <div class="form-row">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </div>
    </form>

   

{% endblock %}